node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

coverage
*.lcov

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

dist
build

.git
.gitignore
README.md
.eslintrc.js
.prettierrc
jest.config.js

*.md
.github
.vscode
.idea
*.log

tests
*.test.js
*.test.ts
*.spec.js
*.spec.ts
test

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.*.yml